@page
@model EstateProperties.CreateModel
@{
    ViewData["Title"] = "Create Property";
}

<h1>Create Property</h1>
<hr>
<div class="row">
    <div class="col-md-4">
        <form method="post">

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="PropertyInfo.StreetAddress" class="control-label"></label>
                <input asp-for="PropertyInfo.StreetAddress" class="form-control" />
                <span asp-validation-for="PropertyInfo.StreetAddress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PropertyInfo.City" class="control-label"></label>
                <input asp-for="PropertyInfo.City" class="form-control" />
                <span asp-validation-for="PropertyInfo.City" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PropertyInfo.State" class="control-label"></label>
                <input asp-for="PropertyInfo.State" class="form-control" />
                <span asp-validation-for="PropertyInfo.State" class="text-danger"></span>
            </div>
            <div class="form-group"></div>
            <label asp-for="PropertyInfo.ZipCode" class="control-label"></label>
            <input asp-for="PropertyInfo.ZipCode" class="form-control" />
            <span asp-validation-for="PropertyInfo.ZipCode" class="text-danger"></span>

            <div class="form-group">
                <label asp-for="PropertyInfo.Country" class="control-label"></label>
                <input asp-for="PropertyInfo.Country" class="form-control" />
                <span asp-validation-for="PropertyInfo.Country" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PropertyInfo.Bedrooms" class="control-label"></label>
                <input asp-for="PropertyInfo.Bedrooms" class="form-control" />
                <span asp-validation-for="PropertyInfo.Bedrooms" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PropertyInfo.Bathrooms" class="control-label"></label>
                <input asp-for="PropertyInfo.Bathrooms" class="form-control" />
                <span asp-validation-for="PropertyInfo.Bathrooms" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PropertyInfo.StartingPrice" class="control-label"></label>
                <input asp-for="PropertyInfo.StartingPrice" class="form-control" />
                <span asp-validation-for="PropertyInfo.StartingPrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-outline-dark" />
            </div>

        </form>
    </div>
</div>