@page "admin/home"
@using Project_2.Pages.Pages.Admin
@model AdminIndexModel
@{
    ViewData["Title"] = "Admin Dashboard";
}

<div class="text-center">
    <h1 class="display-4">Welcome Admin!</h1>
    <div class="container">
        <div class="row">
            <div class="col-6">
                <button class="btn btn-danger">View All Users</button>
            </div>
            <div class="col-6">
                <button class="btn btn-danger">View All Properties</button>
            </div>
        </div>
    </div>
</div>
