@page
@using Project_2.Pages.Pages.Admin
@model AdminIndexModel
@{
    ViewData["Title"] = "Admin Dashboard";
}

<div class="text-center">
    <h1 class="display-4">Welcome Admin!</h1>
    <div class="container">
        <div class="row">
            <div class="col-6">
                <a class="link" asp-page="./UserList">View All Users</a>
            </div>
            <div class="col-6">
                <a class="link" asp-page="./PropertyList">View All Properties</a>
            </div>
        </div>
    </div>
</div>
